body{
}
.menu {
    background-color: #2096ba;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em white;
    padding: 1em;
    color: inherit;
}
.menu a:hover,
.menu a:focus
{
color: #2096ba;
background-color: white;
}
.menu .email{
    margin-right: 4em;
}
footer img{
    height: 4em;
}
footer{
    background-color: #c5919d;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
footer a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em white;
    padding: 1em;
    color: inherit;
}
footer a:hover,
.footer a:focus
{
color: #c5919d;
background-color: white;
}