*{
    font-family: Vazir;
}
body{
    padding: 0;
    margin: 0;
}
header{
 text-align: center;
}
header .logo{
    height: 1em;
}

.way{
    background-image: url('../img/city-center.jpg');
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 4em;
    color: white;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-transform: uppercase;
    text-shadow: 0 0 .5em #2096ba;
}

.menu {
    background-color: #2096ba;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 1em;
    color: inherit;
}
.menu a:hover,
.menu a:focus
{
color: #2096ba;
background-color: white;
}
.menu .email{
    margin-right: 4em;
}
.links{
    background-color: #df6e21;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
.links a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 1em;
    color: inherit;
}
.links a:hover,
.links a:focus{
    color: #df6e21;
    background-color: white;
}
footer img{
    height: 4em;
}
footer{
    background-color: #d9d9db;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
footer a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 1em;
    color: inherit;
}
footer a:hover,
.footer a:focus
{
color: #d9d9db;
background-color: white;
}