*{
    font-family: Vazir;
}
body{
    padding: 0;
    margin: 0;
}
header{
 text-align: center;
}
header .logo{
    height: 1em;
}

.way{
    background-image: url('../img/city-center.jpg');
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 4em;
    color: white;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-transform: uppercase;
    text-shadow: 0 0 .5em #2096ba;
}

.menu {
    background-color: #2096ba;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 1em;
    color: inherit;
}
.menu a:hover,
.menu a:focus
{
color: #0e8e97;
background-color: white;
}
.menu .email{
    margin-right: 4em;
}
.links{
    background-color: #df6e21;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
.links a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 10em;
    color: inherit;
}
.links a:hover,
.links a:focus{
    color: #df6e21;
    background-color: white;
}
footer img{
    height: 4em;
}
footer{
    background-color: #d9d9db;
    display: block;
    text-align: center;
    padding: 1em;
    color: white;
}
footer a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #e7b183;
    padding: 1em;
    color: inherit;
}
footer a:hover,
.footer a:focus
{
color: #d9d9db;
background-color: white;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
}.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }  