*{
    font-family: Vazir;
}
body{
    padding: 0;
    margin: 0;
}
header{
 text-align: center;
}
header .logo{
    height: 1em;
}

.way{
    background-image: url('../content/city-center.jpg');
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 4em;
    color:#d9d9db;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-transform: uppercase;
    text-shadow: 0 0 .5em #8ad2ce;
}

.menu {
    background-color: #655f61;
    display: block;
    text-align: center;
    padding: 1em;
    color:black;
}
.menu a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    padding: 1em;
    color: inherit;
}
.menu a:hover,
.menu a:focus
{
color: #8ad2ce;
background-color: #d9d9db;
}
.menu .email{
    margin-right: 4em;
}
.links{
    
    text-align: center;    
}
.links a{
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    display: inline-block;
    color: black;
    background-color: #0e8e97;
    width: 11em;
    padding-top: 5em;
    padding-bottom: 5em;
    /* margin-top: -10em;
    margin-bottom: -10em; */
}
.links a:hover,
.links a:focus{
    color: #0e8e97;
    background-color: #d9d9db;
}
.projects{
    text-align: center;
}
.projects a{
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    display: inline-block;
    color: black;
    background-color: #0e8e97;
    width: 11em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 200%;
    text-align: center;
}
.projects a:hover,
.projects a:focus
{
color: #8ad2ce;
background-color: #d9d9db;
}
.labs{
    text-align: center;
}
.labs a{
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    display: inline-block;
    color: black;
    background-color: #0e8e97;
    width: 11em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 200%;
    text-align: center; 
}
.labs a:hover,
.labs a:focus
{
color: #8ad2ce;
background-color: #d9d9db;
}
.customers{
    text-align: center;
}
.customers a{
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    display: inline-block;
    color: black;
    background-color: #0e8e97;
    width: 11em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 200%;
    text-align: center;
}
.customers a:hover,
.customers a:focus
{
color: #8ad2ce;
background-color: #d9d9db;
}
footer img{
    height: 4em;
}
footer{
    background-color: #d9d9db;
    display: block;
    text-align: center;
    padding: 1em;
    color: black;
}
footer a{
    display: inline-block;
    text-decoration: none;
    border: solid 0.1em #8ad2ce;
    padding: 1em;
    color: inherit;
}
footer a:hover,
footer a:focus
{
color: #d9d9db;
background-color: white;
}
footer .info, footer .social{
    display: inline-block;
    max-width: 30%;
    vertical-align: top;
}
footer .info a{
    display: block;
}