@font-face {
    font-family: "behdad";
    src: url("behdad.ttf");
}
*{
    font-family: 'behdad';
    font-weight: normal;
    font-size: 25px;
}
html {
    text-align: right;
    direction: rtl;
    background-color: #002527;
    background-image: url('persian.png');
    background-size: auto 100%;
    background-position: bottom;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
body{
    color: #000b0c;
    margin: 40px auto 0 auto;
    width:600px;
    padding:0;
    background-color: rgba(219,240,67,.7);
    border-radius: 15px;
    padding-bottom: 5px;
}
.in_the_name_of_God{
    display: block;
    width: 80px;
    margin: 0 auto 0 auto;
}
body>header{
   text-align: center;
   border-bottom-color: #41d5dd;
   border-bottom-width: 1px;
}
body>header>img
{
    background: -moz-radial-gradient(center, ellipse cover, rgba(219,240,67,1) 0%, rgba(195,216,37,0.43) 49%, rgba(210,230,56,0.42) 50%, rgba(224,237,133,0) 86%, rgba(230,240,163,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(219,240,67,1) 0%,rgba(195,216,37,0.43) 49%,rgba(210,230,56,0.42) 50%,rgba(224,237,133,0) 86%,rgba(230,240,163,0) 100%);
    background: radial-gradient(ellipse at center, rgba(219,240,67,1) 0%,rgba(195,216,37,0.43) 49%,rgba(210,230,56,0.42) 50%,rgba(224,237,133,0) 86%,rgba(230,240,163,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf043', endColorstr='#00e6f0a3',GradientType=1 );
    width: 200px;
    margin: 50px;
}
body>header>h1{
    display: block;
    background-color: rgba(219,240,67,.7);
    padding: 15px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    margin: 0;
}
body>header>h2,body>header>h3 {
    font-size: smaller;
    margin: 0;
}
body>p{
    display: block;
    background-color: rgba(219,240,67,.7);
    padding: 15px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    margin: 0;
    text-align: center;
    font-size: small;
}
body>p>img{
    display: block;
    margin:0 auto 0 auto;
    width: 30px;
}
body>div>span{
    font-weight: 600;
    padding-right: 30px;
    display: block;
    background: rgb(246,248,249);
    background: -moz-linear-gradient(-45deg, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: linear-gradient(135deg, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
}
body>div>pre{
    display: block;
    border-right-width: 5px;
    border-right-color: #002527;
    border-right-style: solid;
    margin-right: 1px;
    padding-right: 5px;
    text-align: right;
    direction: rtl;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
}
body>footer{
    color: #002527;
    font-size: small;
    text-align: center;
}
.gold{
    font-size: larger;
    background-color: #41d5dd;
    margin: 0;
    border: none;
    padding: 10px;
    text-align: justify;
}
.matrix{
    text-align: center;
}
.matrix .border, .matrix .border, .matrix tr.border td {
    background-color: #002527;
    color: #ffffff;
}
.matrix .maximum{
    background-color: #367a7e;
    color: #ffffff;
}
.matrix .medium{
    background-color: #41d5dd;
}
.matrix .minimum{
    background-color: #ffffff;
}